# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/.agents/
/skills-lock.json
/static/
/worker-configuration.d.ts
/workers/realtime/worker-configuration.d.ts
src/content/**/*.md
